/*=========================================================================
Stylesheet for JavaScript Calculator 03/22

file: style.css
date: 14.03.2022
author: Nicole Gottschall
==========================================================================*/





/*=========================================================================
Variables
==========================================================================*/

/*=========================================================================
General Styles
==========================================================================*/
html {
  width: 100vh;
  height: 100vh;
}

/*=========================================================================
Layout
==========================================================================*/
.container {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  margin: 35px 0 20px;
}

/*=========================================================================
Image Settings
==========================================================================*/

/*=========================================================================
Others
==========================================================================*/
input {
  margin: 0 7px 5px;
}
